@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Fontdiner+Swanky&family=Knewave&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;


  }
}



::-webkit-scrollbar {
  width: 8px; 
}


::-webkit-scrollbar-track {
  background: white; 
}


::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 0px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}

@media (orientation: portrait) {
  ::-webkit-scrollbar {
    width: none; 
  }
  
  
  ::-webkit-scrollbar-track {
    background: none; 
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: none; 
    border-radius: none; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: none; 
  }
}



/* FONT DINER */

.fontdiner_xl {
  font-family: 'Fontdiner Swanky', cursive !important;
  color: #fff; /* Hide the text color */
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; /* Apply the border effect using multiple shadows */
  font-size: 9rem !important;
}

.fontdiner_lg {
  font-family: 'Fontdiner Swanky', cursive !important;
  color: #fff; /* Hide the text color */
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; /* Apply the border effect using multiple shadows */
  font-size: 7em !important;

}

.fontdiner_md {
  font-family: 'Fontdiner Swanky', cursive !important;
  color: #fff; /* Hide the text color */
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; /* Apply the border effect using multiple shadows */
  font-size: 5em !important;

}

.fontdiner_sm {
  font-family: 'Fontdiner Swanky', cursive !important;
  color: #fff; /* Hide the text color */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Apply the border effect using multiple shadows */
  font-size: 2em !important;
  line-height: 1.2em !important;

}


/* FONT KNEWAVE */

.font_knewave {
  font-family: "Knewave", system-ui;
  font-weight: 300;
  font-style: normal;

}


.font_knewave_sm {
  font-family: "Knewave", system-ui !important;
  color: #fff; /* Hide the text color */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Apply the border effect using multiple shadows */
  font-size: 2em !important;
  line-height: 1.2em !important;

}



/* FONT AMARANTH */

.font_amaranth {
  font-family: "Amaranth", sans-serif !important;
  font-weight: 300;
  font-style: normal;
}


.font_amaranth_sm {
  font-family: "Amaranth", sans-serif !important;
  color: #fff; /* Hide the text color */
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; /* Apply the border effect using multiple shadows */
  font-size: 1.4em !important;
  line-height: 1.2em !important;
}





@media (max-width: 768px) {
  .fontdiner_xl {
    font-size: 6rem !important; /* Reduce font size for smaller screens */
  }
  .fontdiner_lg {
    font-size: 4rem !important;
  }
  .fontdiner_md {
    font-family: 'Fontdiner Swanky', cursive !important;
    color: #fff; /* Hide the text color */
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; /* Apply the border effect using multiple shadows */
    font-size: 4em !important;
  
  }
}

@media (max-width: 600px) {
  .fontdiner_xl {
    font-size: 5rem !important; /* Reduce font size for smaller screens */
    
  }
  .fontdiner_lg {
    font-size: 3rem !important;
  }
  .fontdiner_md {
    font-family: 'Fontdiner Swanky', cursive !important;
    color: #fff; /* Hide the text color */
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; /* Apply the border effect using multiple shadows */
    font-size: 2.5em !important;
  
  }
}


@media (max-width: 400px) {
  .fontdiner_xl {
    font-size: 3rem !important; /* Reduce font size for smaller screens */
  }
  .fontdiner_lg {
    font-size: 2rem !important;
  }
  .fontdiner_md {
    font-family: 'Fontdiner Swanky', cursive !important;
    color: #fff; /* Hide the text color */
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; /* Apply the border effect using multiple shadows */
    font-size: 2em !important;
  
  }
}

